@charset "utf-8";

/**** CSS Variables ****/
:root {
	/* --- color variables --- */
	--sand-white: #FBF7EA;
	--golden-hour: #E8D092;
	--warm-bronze: #A28527;
	--baby-poo: #786118;
	--hope-blue: #68D7EE;
	--dusk-blue: #1B5E6C;
	--night-sky: #031A1F;
	--background-primary-dark: #04232A;
	--background-primary-mid: #052930;
	--background-primary-mid-95: rgba(5, 41, 48, .95);
	--background-primary-mid-0: rgba(5, 41, 48, 0.1);
	--background-primary-light: #05313A;
	--background-secondary-dark: #02151A;
	--background-secondary-mid: #031A1F;
	--background-secondary-light: #042026;
	--text-primary: var(--sand-white);
	--text-highlight: var(--hope-blue);
	--text-muted: var(--dusk-blue);
	--text-link: var(--golden-hour);
	--light-gradient: linear-gradient(to bottom, var(--background-primary-dark) 0%, var(--background-primary-mid) 20%, var(--background-primary-mid) 80%, var(--background-primary-light) 100%);
	--dark-gradient: linear-gradient(to bottom, var(--background-secondary-dark) 0%, var(--background-secondary-mid) 20%, var(--background-secondary-mid) 80%, var(--background-secondary-light) 100%);
	--text-shadow: 0px 0px 15px #68D7EE66;

	/* --- typography --- */
	--font-text: 'Georgia';
	--font-title: 'Novecento';
	--font-highlight: 'Argon';

	/* --- grid --- */
	--grid-base: 8px;
	--grid-xs: 4px;
	--grid-s: 16px;
	--grid-m: 24px;
	--grid-l: 40px;
	--grid-xl: 60px;
	--grid-xxl: 120px;
	--grid-xxxl: 240px;
	--grid-column-gap: var(--grid-l);

	/* --- header --- */
	--header-padding-v: var(--grid-m);
	--header-open-animation-duration: .7s;
}

@font-face {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: normal;
	src: local('Georgia Regular'), url('../fonts/georgia.woff') format('woff');
}

@font-face {
	font-family: 'Novecento';
	font-style: normal;
	font-weight: 700;
	src: local('Novecento'), url('../fonts/novecento.otf') format('opentype');
}

@font-face {
	font-family: 'Argon';
	font-style: normal;
	font-weight: 700;
	src: local('Argon'), url('../fonts/argon.otf') format('opentype');
}

/* ### RESET ######################################## */
/* ### DONT EDIT THIS PART ########################## */

/* -=- Common Element CSS Start -=- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background: var(--text-highlight);
	text-shadow: none;
}

::selection {
	background: var(--text-highlight);
	text-shadow: none;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html,
body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-secondary-dark);
}

img {
	border: 0px !important;
	outline: none;
	width: 100%;
	max-width: 100%;
	display: block;
}

ul,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
} */

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

a:hover,
a:focus,
a:active,
a:visited {
	outline: none;
	text-decoration: none;
}

.btn:focus,
.btn.focus,
.form-control:hover,
.form-control:focus,
.form-control:focus:Active {
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

p {
	margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

textarea {
	resize: none;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* ### END RESET ######################################### */


/* ### GRID AND LAYOUT HELPER CLASSES ##################### */
.d-flex {
	display: flex;
}

.d-inline-block {
	display: inline-block;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-right {
	text-align: right;
}

.mr-16 {
	margin-right: 16px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mt-24 {
	margin-top: 24px !important;
}

.mb-40 {
	margin-bottom: 40px;
}

.mr-40 {
	margin-right: 40px;
}

.ml-40 {
	margin-left: 40px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-l {
	margin-bottom: var(--grid-l);
}

.mb-xl {
	margin-bottom: var(--grid-xl);
}

.mb-xxl {
	margin-bottom: var(--grid-xxl);
}

.w-auto {
	width: auto;
}

.w-50 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.no-wrap {
	white-space: nowrap;
}

.d-none {
	display: none;
}

body.no-scroll {
	overflow: hidden;
}

/* ### END GRID AND LAYOUT HELPER CLASSES ##################### */


/* ### TYPOGRAPHY ########################################### */
body {
	color: var(--text-primary);
	font-size: 20px;
	line-height: 32px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
}

p {
	margin: 0 0 var(--grid-s) 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Novecento', sans-serif;
	color: var(--sand-white);
}

a {
	color: var(--golden-hour);
	text-decoration: underline;
}

/*** Heading CSS ***/
h1,
.h1,
.content-lead {
	font-size: 50px;
	line-height: 56px;

	font-size: clamp(30px, 5vw, 50px);
	line-height: clamp(34px, 112%, 56px);
}

h2,
.h2 {
	font-size: 30px;
	line-height: 36px;

	font-size: clamp(20px, 4vw, 30px);
	line-height: clamp(23px, 112%, 36px);
}

/*
h3,
.h3 {}

h4,
.h4 {}

h5,
.h5 {}

h6,
.h6 {}
*/

@media only screen and (max-width: 767px) {

	h1,
	.h1,
	.section-two__content-header {
		font-size: 42px;
		line-height: 48px;

		font-size: clamp(26px, 10vw, 42px);
		line-height: clamp(30px, 12vw, 48px);
	}

	h2,
	.h2 {
		font-size: 26px;
		line-height: 30px;

		font-size: clamp(20px, 7vw, 26px);
		line-height: clamp(24px, 9vw, 30px);
	}
}

/* Common Class CSS related to text alignment*/
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.fancy-highlight {
	font-family: 'Argon', sans-serif;
	color: var(--hope-blue);
	text-shadow: 0px 0px 15px #68D7EE66;
}


/* ### END TYPOGRAPHY ############################################# */


/* ### MISC ELEMENTS ############################################# */

.arrow-icon {
	transform: rotate(180deg);
	width: 15px;
	transition: all 0.3s ease;
}


.decorative-line {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 60px;
	height: 2px;
	background-color: var(--hope-blue);
	opacity: 0.2;
}

.decorative-line.align-to-h1 {
	margin-top: 45px;
}

.decorative-line::before,
.decorative-line::after {
	content: '';
	display: block;
	min-width: 60px;
	height: 2px;
	background-color: var(--hope-blue);
	position: absolute;
	top: 0;
}

.decorative-line--right::before,
.decorative-line--right::after {
	right: 0;
}

.decorative-line::before {
	top: -4px;
}

.decorative-line::after {
	top: -8px;
}

@media only screen and (max-width: 767px) {
	.decorative-line {
		display: none;
	}
}

/* ### END MISC ELEMENTS ############################################# */


/* ### HEADER ############################################# */
.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 40;
	overflow: hidden;
	padding: 0;
	background-color: var(--background-primary-mid);
	box-shadow: 0px 4px 20px 0px var(--background-primary-mid);
}

.nav-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-logo {
	font-family: "Argon", sans-serif;
	font-size: 20px;
	line-height: 20px;
	padding: var(--header-padding-v) 0;
	color: var(--hope-blue);
	text-decoration: none;
}

/* --- desktop -- */
.nav-link {
	color: var(--text-primary);
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 var(--grid-s);
	padding: var(--header-padding-v) 0;
	font-family: 'Novecento', sans-serif;
	transition: color 0.3s ease-in-out;
}

.nav-link:first-of-type {
	margin-left: 0;
}

.nav-link:last-of-type {
	margin-right: 0;
}

.nav-link:is(:hover, .focused) {
	color: var(--text-highlight);
}

/* --- mobile --- */
.mobile-nav {
	position: fixed;
	width: 100vw;
	max-height: 100vh;
	overflow: auto;
	left: 0;
	top: -120vh;
	z-index: 30;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(to top, var(--background-primary-mid-0), var(--background-primary-mid-95) var(--grid-l));
	transition: top var(--header-open-animation-duration) cubic-bezier(0, 1.19, .39, 1.02);
}

.mobile-nav--visible {
	top: 0;
}

.mobile-nav nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	margin: var(--grid-xxl) 0;
}

.mobile-nav .contact-info {
	margin-bottom: var(--grid-m);
}

.mobile-nav .language-switch-nav {
	margin-bottom: var(--grid-xxl);
}

.mobile-nav .nav-link {
	margin: 0;
	padding: 0;
	transition: padding .6s ease-in-out;
}

.mobile-nav--visible .nav-link {
	padding: var(--header-padding-v) 0;
}

.mobile-nav .contact-info {
	text-align: center;
}

.mobile-menu-button {
	padding: var(--header-padding-v) 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.mobile-menu-button--open .arrow-icon {
	transform: rotate(0deg);
}

/* 1000px -> mobile nav is also for tablets */
@media only screen and (min-width: 1001px) {

	.mobile-nav,
	.mobile-menu-button {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.desktop-nav {
		display: none;
	}
}

/* ### END HEADER ############################################# */


/* ### CONTENT ############################################# */

section {
	position: relative;
	min-height: 50vh;
	padding-top: var(--grid-xxxl);
	padding-bottom: var(--grid-xxxl);
	background-image: var(--light-gradient);
}

section.dark-background {
	background-image: var(--dark-gradient);
}

.section-background {
	position: absolute;
	background-image: url('../img/hero-image.jpg');
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: 1;
	background-size: cover;
	background-position: center;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--grid-xl);
	z-index: 2;
}

.content-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: var(--grid-l);
	row-gap: var(--grid-xl);
}

.content-wrapper.columns-2 {
	grid-template-columns: 52fr 46fr;
}

.content-wrapper.columns-3 {
	grid-template-columns: 1fr 1fr 1fr;
}


@media only screen and (max-width: 1100px) {

	.content-wrapper.columns-2 {
		grid-template-columns: 3fr 7fr;
	}

	.content-wrapper.columns-3 {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 767px) {

	.content-wrapper.columns-2,
	.content-wrapper.columns-3 {
		grid-template-columns: 1fr;
	}
}

.content-header {
	display: flex;
	align-items: baseline;
	gap: var(--grid-m);
	margin-bottom: var(--grid-l);
}

.content-header .fancy-highlight {
	display: block;
}

.content-header .inline-header span.fancy-highlight {
	display: inline-block;
}

.content-lead {
	color: var(--text-muted);
	text-align: center;
	margin-bottom: var(--grid-xxl);
}

@media only screen and (max-width: 767px) {
	section {
		min-height: 80vh;
		padding-top: var(--grid-xl);
		padding-bottom: var(--grid-xl);
	}

	section:first-child {
		padding-top: var(--grid-xxl);
	}

	.container {
		padding: 0 var(--grid-m);
	}

	.content-header {
		margin-bottom: var(--grid-m);
	}
}

/* --- Section One --- */

.section-one__background {
	background-image: url('../img/hero-image.jpg');
}

.word-slider-container {
	display: inline-block;
	height: 64px;
	margin-top: -8px;
	overflow: hidden;

	-webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
	mask-image: linear-gradient(transparent, white, white, white, transparent);
	mask-type: luminance;
	mask-mode: alpha;
}

.word-slider {
	display: inline-block;
	margin: 0;
	margin-top: 8px;
	padding: 0;
	list-style: none;

	-webkit-animation-name: wordSlider;
	animation-name: wordSlider;

	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-duration: 10s;
	animation-duration: 10s;

	animation-fill-mode: forwards;
}

.word-slider-item {
	display: block;
	line-height: 56px;
	text-align: left;
}

@-webkit-keyframes wordSlider {
	0%,
	20% {
		transform: translateY(0%);
	}

	25%,
	45% {
		transform: translateY(-20%);
	}

	50%,
	70% {
		transform: translateY(-40%);
	}

	75%,
	95% {
		transform: translateY(-60%);
	}

	100% {
		transform: translateY(-80%);
	}
}

@keyframes wordSlider {
	0%,
	20% {
		transform: translateY(0%);
	}

	25%,
	45% {
		transform: translateY(-20%);
	}

	50%,
	70% {
		transform: translateY(-40%);
	}

	75%,
	95% {
		transform: translateY(-60%);
	}

	100% {
		transform: translateY(-80%);
	}
}

@media only screen and (max-width: 767px) {
	section.section-one {
		padding-top: var(--grid-xxl);
	}
}


/* --- Section Two --- */

.section-two .video {
	margin-top: var(--grid-xxl);
	margin-bottom: var(--grid-xxl);
}

.section-two__content-icon {
	display: block;
	height: min(30vh, 150px);
	width: min(50vw, 200px);
	margin-bottom: var(--grid-xl);
	border: 1px solid var(--hope-blue);
	border-radius: 100%;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.section-two .video {
		margin-top: var(--grid-xl);
		margin-bottom: var(--grid-xl);
	}

	.section-two__content-icon {
		margin-left: var(--grid-l);
		margin-bottom: var(--grid-l);
	}
}

/* --- Section Three --- */

.section-three__background {
	background-image: url('../img/hero-image.jpg');
}

/* --- Section Four --- */

.section-four .content-column {
	/* Optically align with title */
	margin-top: 4px;
}

@media only screen and (max-width: 1100px) {
	.section-four .content-wrapper .decorative-line {
		display: none;
	}

	.section-four .content-column {
		margin-top: 0;
	}
}

@media only screen and (max-width: 767px) {
	.section-four .content-wrapper {
		row-gap: 0;
	}

	.section-four .content-column {
		margin-top: 0;
		margin-bottom: var(--grid-xl);
	}
}


/* ### END CONTENT ############################################# */


/* ### FOOTER ############################################# */

.accordion {
	margin-bottom: 120px;
}

.accordion-item {
	margin-bottom: 0;
	transition: all 0.3s ease;
}

.accordion-item--expanded {
	margin-bottom: 40px;
}

.accordion-content {
	height: 0;
	opacity: 0;
	transition: all 0.3s ease;
	overflow: hidden;
}

.accordion-header {
	cursor: pointer;
	position: relative;
	padding: 12px 0;
}

.accordion-item--expanded .arrow-icon {
	transform: translateY(-50%) rotate(0deg);
}

.footer .arrow-icon {
	width: 15px;
	position: absolute;
	left: -40px;
	top: 50%;
	transform: translateY(-50%) rotate(180deg);
}


.language-switch-nav {
	display: flex;
}

.language-switch {
	color: var(--text-muted);
	text-decoration: none;
}

.language-switch:hover {
	color: var(--text-highlight);
}

.language-switch.active {
	color: var(--text-primary);
	cursor: text;
}

.language-switch:not(:last-child)::after {
	content: '|';
	color: var(--text-muted);
	margin: 0 var(--grid-s);
}


@media only screen and (max-width: 767px) {
	.footer__content {
		width: 100%;
	}

	.accordion {
		margin-left: 40px;
	}
}