RewriteEngine On
RewriteBase /

# Rewrite secure requests properly to prevent SSL cert warnings, e.g. prevent 
RewriteCond %{HTTPS} off [OR]
RewriteCond %{SERVER_PORT} !^443
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,NE,R=302]

# Rewrite vivos.md -> www.vivos.md (preserves subdomains, eg. dev.vivos.md)
RewriteCond %{HTTP_HOST} ^vivos\.md [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,NE,R=302]

# redirect based on browser language
RewriteCond %{HTTP:Accept-Language} (de) [NC]
RewriteRule ^$ /de/ [R,L]
# fallback to english
RewriteRule ^$ /en/ [R,L]