# redirect based on browser language
RewriteEngine On
RewriteBase /


# Rewrite www.vivos.md -> vivos.md
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^vivos\.md [NC]
RewriteRule (.*) http://vivos.md/$1 [R=301,L]



# Rewrite secure requests properly to prevent SSL cert warnings, e.g. prevent 
# https://www.domain.md when your cert only allows https://secure.domain.md
RewriteCond %{SERVER_PORT} !^443
RewriteRule (.*) https://vivos.md/$1 [R=301,L]


# Rewrite based on browser language
#RewriteEngine on
RewriteCond %{HTTP:Accept-Language} (de) [NC]
RewriteRule ^$ http://vivos.md/de [R,L]

RewriteCond %{HTTP_HOST} vivos\.md [NC]
RewriteRule ^$ http://vivos.md/en/ [R,L]